# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on



# map neat URL to internal URL

rewriteRule ^usuarios/listar/$ controllers/ControleUsuarios.php?page_key=validar [QSA]
rewriteRule ^contatos/listar/$ controllers/Contatos.php?page_key=Consultar [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
